@charset "utf-8";
/**
* @time 2018/06/12 09:26:30
* @author lg
* @desc  谈项目css
*/
.app_main {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 70px;
    background: #f3f4f5;
}
.main{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.content {
    width: 100%;
    height: auto;
}
.list li{
    background: #ffffff;
}
.content_title{
    display: inline-block;
    margin:10px 0;
    color:#888888;
    font-size: 1.4rem;
    padding-left: 10px;
}
.rigBtn{
    width:30px;
    height: 40px;
    background: url("../images/carbonProject/carbon-project-search-btn.png") no-repeat center / 80%;
}
.content-wrap{
    width:100%;
    height:83px;
    background:#ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-left,.top-right{
    width:45%;
    height:65px;
    /*background: #f5f6f7;*/
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    text-align: center;
}
.top-border{
    display: inline-block;
    width:1px;
    height:60px;
    margin:0 10px;
    background: #e5e5e5;
}
.data-name{
    display: inline-block;
    width: 100%;
    color:#333333;
    font-size: 1.6rem;
}
.data-num{
    color:#4993f7;
    font-size: 2.4rem;
}
.data-unit{
    color:#999999;
    font-size: 1.3rem;
    margin-left:5px;
}
.item{
    height:85px;
    border-bottom:1px solid #dadbdc;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.item_content{
    width: 100%;
    height:6.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

}
.message_title{
    width:100%;
    font-size: 1.7rem;
    color:#000000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.content_bottom{
    width:100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.project-type{
    border:1px solid #999999;
    color:#999999;
    font-size: 1.2rem;
    padding: 1px;
    border-radius: 2px;
}
.time-line{
    color:#a9a9a9;
    font-size: 1.4rem;
    background: url("../images/carbonProject/clock.png") no-repeat left / contain;
    padding-left:30px;
}
.message_time{
    color:#a9a9a9;
    font-size: 1.4rem;
}
.linkTo{
    display: inline-block;
    width: 25px;
    height:16px;
    background:url("../images/carbornMessage/icon-right.png") no-repeat center / 50% 100%;
    vertical-align: top;
    cursor: pointer;
}