@charset "utf-8";
/**
* @time 2018/06/12 09:26:30
* @author lg
* @desc  谈项目css
*/
.border-bottom-none{
    border-bottom:none ;
}

.app_main {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 70px;
    background: #f3f4f5;
}
.main{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.content {
    width: 100%;
    height: auto;
}
.list li{
    background: #ffffff;
    padding: 10px;
}
.content_title{
    display: inline-block;
    margin:10px 0;
    color:#888888;
    font-size: 1.4rem;
    padding-left: 10px;
}
.content-wrap {
    width: 100%;
    background: #ffffff;
    overflow: hidden;
}


li {
    width: calc(100% - 20px);
    height: 34px;
    display: inline-flex;
    align-items: center;
    border-bottom:1px solid #dadbdc;
}
.top .project, .center .project{
    width:40%;
}
.bottom .project{
    width:70%;
    min-width:65%;
}
.project{
    display: inline-block;
    color:#000000;
    font-size: 1.6rem;
    height: 30px;
    line-height: 30px;
}
.project-info{
    color:#999999;
    display: inline-block;
    font-size: 1.6rem;
    width:60%;
}
.bottom .project-info{
    width:20%;
}
